@font-face {
    font-family: myForte;
    src: url("fonts/FORTE.TTF");
}

@font-face {
    font-family: myMonotype;
    src: url("fonts/MTCORSVA.TTF");
}

:root {
    --text-nav: 'myForte';
    --text-content: 'myMonotype';
    --font-content: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #101010;
    font-family: var(--text-content);
}

.font-navbar {
    font-family: var(--text-nav);
    font-size: 20px;
}

.image-container {
    height: 100vh;
}

.image-style {
    height: 100%; 
    -o-object-fit: cover; 
       object-fit: cover;
}

.content-typography {
    font-family: var(--text-content);
    font-size: var(--font-content);
}

.menu-typography {
    font-size: 22px;
}

.image-menu {
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: center;
}

.menu-section {
    font-family: var(--text-nav);
    font-size: 48px;
}

.border-dashed {
    border-right: 2px dashed white;
}

.statement {
    background: url("img/coffee.jpg"); /* <a href='https://www.freepik.com/photos/background'>Background photo created by wirestock - www.freepik.com</a>*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 10px;
    margin: 50px 0;
    max-width: 100vw;
}

@media screen and (max-width: 767px) {
    .border-dashed {
        border: none;
    }
}

@media screen and (max-width: 575px) {
    .image-container {
        height: 50vh;
    }
}