@font-face {
    font-family: myForte;
    src: url("fonts/FORTE.TTF");
}

:root {
    --text-nav: 'myForte';
    --text-content: Helvetica, sans-serif;
    --font-content: 12px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #101010;
    font-family: var(--text-content);
}

.font-navbar {
    font-family: var(--text-nav);
    font-size: 20px;
}

.image-container {
    height: 100vh;
}

.image-style {
    height: 100%; 
    -o-object-fit: cover; 
       object-fit: cover;
}

.content-typography {
    font-family: var(--text-content);
    font-size: var(--font-content);
}

.image-menu {
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: center;
}

.menu-section {
    font-family: var(--text-nav);
    font-size: 48px;
}

.border-dashed {
    border-right: 2px dashed white;
}

@media screen and (max-width: 575px) {
    .image-container {
        height: 50vh;
    }
}